---

---

<div class="mx-auto mt-10">
  <div class="relative">
    <div
      class="absolute pt-2.5 start-0 flex items-center ps-3 pointer-events-none text-md font-bold"
    >
      REGEX
    </div>
    <input
      type="text"
      x-model="input.query"
      @keyup="submit"
      class="block font-mono w-full pl-22 p-3 ps-20 text-sm text-slate-300 hover:text-slate-100 border border-gray-300 hover:border-gray-100 rounded-lg bg-gray-900 focus:outline-none"
      placeholder=".*"
      required
    />
    <template x-if="!loading.fetching">
      <span
        class="absolute end-0.5 bottom-1.5 text-slate-300 text-sm px-4 py-0"
      >
        <label class="inline-flex items-center cursor-pointer">
          <input
            type="checkbox"
            x-model="input.realtime"
            @change="input.reverse=true;input.page=1;submit()"
            class="sr-only peer"
          />
          <div
            class="relative w-11 h-6 rounded-full peer bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-gray-500 after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all border-gray-600 peer-checked:bg-green-400"
          >
          </div>
          <span class="ms-3 text-sm font-bold text-gray-400">Realtime</span>
        </label>
      </span>
    </template>
    <template x-if="loading.fetching">
      <button
        x-bind:disabled="loading.fetching"
        type="button"
        @click="submit"
        class="text-white disabled:text-slate-400 absolute end-2.5 bottom-1.5 bg-blue-700 disabled:bg-gray-800 hover:bg-blue-800 focus:outline-none font-bold rounded-lg text-sm px-4 py-2"
      >
        <svg
          aria-hidden="true"
          role="status"
          class="inline w-4 h-4 me-3 text-white animate-spin"
          viewBox="0 0 100 101"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="#E5E7EB"></path>
          <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentColor"></path>
        </svg>
        <span>Updating</span>
      </button>
    </template>
  </div>
  <template x-if="loading.error">
    <span x-text="loading.error" class="text-rose-400 text-sm block mt-5"
    ></span>
  </template>
  <template x-if="loading.errorJSON">
    <pre
      x-text="loading.errorJSON"
      class="text-rose-100 break-words text-sm block mt-2 text-wrap bg-rose-800 rounded mb-5 p-3">
    </pre>
  </template>

  <div class="z-10 rounded-lg shadow w-full bg-gray-900 pb-5 mt-5 pt-5">
    <template x-for="type in ['file', 'ssh', 'stdin', 'docker']">
      <ul
        class="max-h-48 px-3 pb-2 overflow-y-auto text-sm text-gray-200 no-scrollbar break-all"
      >
        <template
          x-if="results.file_paths.filter((fp) => fp.type == type).length"
        >
          <div class="relative">
            <div
              class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-2 pointer-events-none"
            >
              <template x-if="type === 'file'">
                <svg
                  class="w-6 h-6 text-sky-800"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M10 3v4a1 1 0 0 1-1 1H5m4 8h6m-6-4h6m4-8v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z"
                  ></path>
                </svg>
              </template>
              <template x-if="type === 'stdin'">
                <svg
                  class="w-6 h-6 text-sky-800"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M11.782 5.72a4.773 4.773 0 0 0-4.8 4.173 3.43 3.43 0 0 1 2.741-1.687c1.689 0 2.974 1.972 3.758 2.587a5.733 5.733 0 0 0 5.382.935c2-.638 2.934-2.865 3.137-3.921-.969 1.379-2.44 2.207-4.259 1.231-1.253-.673-2.19-3.438-5.959-3.318ZM6.8 11.979A4.772 4.772 0 0 0 2 16.151a3.431 3.431 0 0 1 2.745-1.687c1.689 0 2.974 1.972 3.758 2.587a5.733 5.733 0 0 0 5.382.935c2-.638 2.933-2.865 3.137-3.921-.97 1.379-2.44 2.208-4.259 1.231-1.253-.673-2.19-3.443-5.963-3.317Z"
                  ></path>
                </svg>
              </template>
              <template x-if="type === 'ssh'">
                <svg
                  class="w-6 h-6 text-sky-600"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 12a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1M5 12h14M5 12a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1m-2 3h.01M14 15h.01M17 9h.01M14 9h.01"
                  ></path>
                </svg>
              </template>
              <template x-if="type === 'docker'">
                <svg
                  class="w-6 h-6 text-sky-600"
                  aria-label="Docker"
                  role="img"
                  viewBox="0 0 512 512"
                  fill="#000000"
                  ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
                    ><rect width="512" height="512" rx="15%" fill="#111827"
                    ></rect><path
                      stroke="#066da5"
                      stroke-width="38"
                      d="M296 226h42m-92 0h42m-91 0h42m-91 0h41m-91 0h42m8-46h41m8 0h42m7 0h42m-42-46h42"
                    ></path><path
                      fill="#066da5"
                      d="m472 228s-18-17-55-11c-4-29-35-46-35-46s-29 35-8 74c-6 3-16 7-31 7H68c-5 19-5 145 133 145 99 0 173-46 208-130 52 4 63-39 63-39"
                    ></path></g
                  ></svg
                >
              </template>
            </div>
            <span
              class="block w-full p-2 ps-10 text-sm text-gray-200 uppercase font-bold"
              x-text="type"></span>
          </div>
        </template>

        <template
          x-for="(filepath, index) in results.file_paths.filter((fp) => fp.type == type)"
        >
          <li
            :class="{'shadow-2xl': filepath.file_path === results.result.file_path}"
          >
            <div
              class="flex items-center ps-2 m-1 rounded hover:bg-gray-800"
              :class="{'bg-gray-800  border-gray-900': filepath.file_path === results.result.file_path}"
            >
              <input
                type="radio"
                @click="input.page=1; input.query='';input.line_from=0;input.line_upto=0;input.file_path = filepath.file_path; input.host = filepath.host;input.type = filepath.type; submit()"
                :value="filepath.file_path"
                class="w-5 h-5 rounded border-blue-500 accent-blue-500"
                x-model="input.file_path"
              />

              <label
                :class="{'text-blue-400': filepath.file_path === results.result.file_path, 'text-slate-400': filepath.file_path !== results.result.file_path}"
                class="w-full py-2 ms-2 text-sm font-mono rounded flex items-center"
              >
                <template x-if="filepath.type === 'ssh'">
                  <div>
                    <span
                      class="text-xs font-medium me-2 px-2.5 py-0.5 text-center rounded bg-gray-700 text-yellow-300"
                      >SSH</span
                    >
                  </div>
                </template>
                <template x-if="filepath.type == 'stdin'">
                  <span
                    class="text-xs font-medium me-2 px-2.5 py-0.5 text-center rounded bg-gray-700 text-blue-300"
                    >STDIN</span
                  >
                </template>
                <template x-if="filepath.type == 'file'">
                  <span
                    class="text-xs font-medium me-2 px-2.5 py-0.5 text-center rounded bg-gray-700 text-green-300"
                    >FILE</span
                  >
                </template>
                <template x-if="filepath.type == 'docker'">
                  <span
                    class="text-xs font-medium me-2 px-2.5 py-0.5 text-center rounded bg-sky-700 text-sky-100"
                    >DOCKER</span
                  >
                </template>
                <span
                  x-show="filepath.host"
                  class="text-xs font-medium me-2 px-2.5 py-0.5 text-center rounded bg-yellow-700 text-gray-900"
                  x-text="filepath.host"></span>
                <span
                  x-show="filepath.name"
                  class="text-xs font-medium me-2 px-2.5 py-0.5 text-center rounded bg-gray-700 text-gray-300 truncate"
                  x-text="filepath.name"></span>
                <span
                  x-show="!filepath.file_path.startsWith('/tmp/GOL-')"
                  x-text="filepath.file_path.split('/').slice(0, -1).join('/')"
                  :class="{'text-green-500 font-bold': filepath.file_path === results.result.file_path}"
                  class="truncate"></span>
                <span
                    x-show="!filepath.file_path.startsWith('/tmp/GOL-')"
                    class="text-slate-400">/</span>
                <span
                  x-show="!filepath.file_path.startsWith('/tmp/GOL-')"
                  x-text="filepath.file_path.split('/').pop()"
                  class="truncate"
                  :class="{'font-bold text-blue-400': filepath.file_path === results.result.file_path}"
                ></span>
                <span
                  class="text-gray-600 ml-2 font-sans"
                  x-text="`(${formatBytes(filepath.file_size)})`"></span>
              </label>
              <span
                class="text-gray-600 pr-2 text-sm text-right w-1/12"
                x-text="`${numberToK(filepath.lines_count)}`"></span>
            </div>
          </li>
        </template>
      </ul>
    </template>
  </div>
</div>

<style>
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
