---

---

<div>
  <label
    for="input-depth"
    class="block mb-2 text-sm font-medium text-slate-400"
  >
    Depth <sup class="text-xs text-slate-500">-1 to 20</sup>
  </label>
  <input
    id="input-depth"
    type="number"
    class="block font-mono w-full p-3 ps-4 text-sm text-slate-300 hover:text-slate-100 border border-gray-500 hover:border-gray-100 rounded-lg bg-gray-900 focus:outline-none"
    placeholder="-1"
  />
  <p class="p-1 text-sm text-slate-500">
    -1 to crawl all links. 0 to only current link. 1 onwards to crawl links
    forward depth
  </p>
</div>
