---

---

<div class="grid grid-cols-2 gap-4 mt-5">
  <div class="text-left">
    <label class="inline-flex items-center cursor-pointer mt-4">
      <span class="mr-2 text-xs font-medium text-gray-400">Per page:</span>
      <select
        x-model="input.per_page"
        @change="input.page=1;submit()"
        class="bg-gray-700 text-gray-300 rounded px-2 py-1 text-xs"
      >
        <option value="15">15</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="1000">1000</option>
      </select>
    </label>
  </div>
  <div class="text-right pt-5">
    <span class="text-xs text-slate-500">
      Updated at <span x-text="loading.updated_at"></span>
    </span>
  </div>
</div>

<div>
  <div class="overflow-x-auto mt-5 rounded shadow-2xl">
    <table
      class="w-full text-sm font-mono text-left text-gray-400 border border-gray-900 table-fixed"
    >
      <thead class="text-xs bg-gray-900 text-gray-400">
        <tr>
          <th scope="col" class="px-3 py-3 uppercase" style="width: 100px;">
            <template x-if="input.reverse">
              <button
                class="text-white"
                @click="input.reverse=false;input.page=1;submit()">▼</button
              >
            </template>
            <template x-if="!input.reverse">
              <button
                class="text-white"
                @click="input.reverse=true;input.page=1;submit()">▲</button
              >
            </template>
          </th>

          <th scope="col" class="px-3 py-3 uppercase" style="width: 100px;"
            >Level</th
          >
          <th scope="col" class="px-3 py-3 uppercase" style="width: 150px;"
            >Time</th
          >
          <th scope="col" class="px-3 py-3">
            <template x-if="results.result.type == 'file'">
              <span class="font-mono" x-text="results.result.file_path"></span>
            </template>
            <template x-if="results.result.type == 'docker'">
              <span class="font-mono" x-text="results.result.host"></span>
            </template>
            <template
              x-if="results.result.type == 'docker' && !results.result.file_path.startsWith('/tmp/GOL-')"
            >
              <span class="font-mono" x-text="results.result.file_path"></span>
            </template>
            <template x-if="results.result.type == 'stdin'">
              <span class="font-mono">STDIN</span>
            </template>
          </th>
        </tr>
      </thead>
      <tbody>
        <template x-for="(item, index) in results.result.lines" :key="index">
          <tr
            class="border-b bg-gray-800 border-gray-900"
            :class="{'highlight': input.realtime == true && highlighter.line_from  > 0 && item.line_number-1 >= highlighter.line_from}"
          >
            <td class="px-3 py-2" x-text="item.line_number.toLocaleString()"
            ></td>
            <td class="px-3 py-2">
              <template x-if="item.level == 'success'">
                <span
                  class="text-xs font-medium me-2 px-2.5 py-0.5 rounded bg-green-500 text-gray-900"
                  >Success</span
                >
              </template>
              <template x-if="item.level == 'info'">
                <span
                  class="text-xs font-medium me-2 px-2.5 py-0.5 rounded bg-blue-500 text-white"
                  >Info</span
                >
              </template>
              <template x-if="item.level == 'error'">
                <span
                  class="text-xs font-medium me-2 px-2.5 py-0.5 rounded bg-red-500 text-gray-800"
                  >Error</span
                >
              </template>
              <template x-if="item.level == 'warn'">
                <span
                  class="text-xs font-medium me-2 px-2.5 py-0.5 rounded bg-yellow-500 text-gray-900"
                  >Warn</span
                >
              </template>
              <template x-if="item.level == 'danger'">
                <span
                  class="text-xs font-medium me-2 px-2.5 py-0.5 rounded bg-red-700 text-white"
                  >Danger</span
                >
              </template>
              <template x-if="item.level == 'debug'">
                <span
                  class="text-xs font-medium me-2 px-2.5 py-0.5 rounded bg-gray-500 text-white"
                  >Debug</span
                >
              </template>
              <template x-if="item.level == ''">
                <span
                  class="text-xs font-medium me-2 px-2.5 py-0.5 rounded bg-gray-700 text-gray-300"
                  >Line</span
                >
              </template>
            </td>
            <td class="px-3 py-2 text-gray-600 text-xs">
              <template x-if="item.agent.device === 'server'">
                <svg
                  class="w-4 h-4 text-gray-600 inline"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 12a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1M5 12h14M5 12a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1m-2 3h.01M14 15h.01M17 9h.01M14 9h.01"
                  ></path>
                </svg>
              </template>
              <template x-if="item.agent.device === 'desktop'">
                <svg
                  class="w-4 h-4 text-gray-600 inline"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 15v5m-3 0h6M4 11h16M5 15h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1Z"
                  ></path>
                </svg>
              </template>
              <template x-if="item.agent.device === 'mobile'">
                <svg
                  class="w-4 h-4 text-gray-600 inline"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5 4a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V4Zm12 12V5H7v11h10Zm-5 1a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H12Z"
                    clip-rule="evenodd"></path>
                </svg>
              </template>
              <template x-if="item.agent.device === 'tablet'">
                <svg
                  class="w-4 h-4 text-gray-600 inline"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M11 18h2M5.875 3h12.25c.483 0 .875.448.875 1v16c0 .552-.392 1-.875 1H5.875C5.392 21 5 20.552 5 20V4c0-.552.392-1 .875-1Z"
                  ></path>
                </svg>
              </template>
              <span x-text="timeago(item.date)"></span>
            </td>
            <td class="px-3 py-2 text-blue-200" x-text="item.content"></td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
</div>

<div class="max-w-3xl mx-auto text-center">
  <nav aria-label="Page navigation example" class="mt-5">
    <ul class="inline-flex -space-x-px text-sm">
      <li>
        <button
          :disabled="input.page === 1"
          @click="input.page > 1 ? input.page-- : null; submit();"
          class="flex items-center justify-center px-3 h-8 ms-0 leading-tight border-e-0 rounded-s-lg bg-gray-700 border-gray-700 text-gray-400 hover:bg-gray-900 hover:text-white"
          :class="{'cursor-not-allowed opacity-50': input.page === 1}"
          >Previous</button
        >
      </li>
      <li>&nbsp;</li>
      <li>
        <button
          type="button"
          :disabled="input.page >= Math.ceil(results.result.total / input.per_page)"
          @click="input.page++; submit();"
          class="flex items-center justify-center px-3 h-8 leading-tight rounded-e-lg bg-gray-700 border-gray-700 text-gray-400 hover:bg-gray-900 hover:text-white"
          :class="{'cursor-not-allowed opacity-50': input.page >= Math.ceil(results.result.total / input.per_page)}"
          >Next</button
        >
      </li>
    </ul>
  </nav>
  <div class="pt-3 text-sm">
    Page <span x-text="input.page.toLocaleString()"></span> of <span
      x-text="Math.ceil(results.result.total / input.per_page).toLocaleString()"
    ></span> (<span x-text="results.result.total.toLocaleString()"></span> rows)
  </div>
</div>
<style>
  @keyframes highlight {
    from {
      @apply opacity-10;
    }
    to {
      background-color: transparent;
    }
  }

  .highlight {
    animation: highlight 2s backwards;
  }
</style>
