---
import Layout from "@components/Layout.astro";
import Nav from "@components/Nav.astro";
import Viewer from "@components/Viewer.astro";
import Footer from "@components/Footer.astro";
---

<Layout
  title="GOL - Log Viewer Free"
  description="GOL - Log Viewer Free"
>
  <div class="min-h-screen flex flex-col">
    <Nav />
    <main class="flex-1 container mx-auto">
      <div class="">
        <Viewer />
      </div>
    </main>
    <Footer />
  </div>
</Layout>

<style>
  :global(body) {
    @apply antialiased;
  }
</style>
