---
import Layout from "@components/Layout.astro";
import Nav from "@components/Nav.astro";
import Viewer from "@components/Viewer.astro";
import Footer from "@components/Footer.astro";
---

<Layout
  title="GOL - Log Viewer Free"
  description="GOL - Log Viewer Free"
>
  <div class="h-full">
    <Nav />
    <Viewer />
    <div class="mt-96">

    </div>
    <Footer />
  </div>
</Layout>

<style></style>
